@{
    ViewData["Title"] = "Login Required";
}

<h1>You need to be logged in to track your sleep.</h1>
<p>Please log in first to track your sleep.</p>
<a href="/Login/Index" class="btn btn-primary">Go to Login</a>
